a:link {
    color: #7289DA;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #7289DA;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(101, 122, 199);
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: none;
}
